<% extends 'base.html' %>

<% block header %>
  <h1>cite</h1>
<% endblock %>

<% block content %>

<div id="section">
    <p>

        Users are encouraged to cite the following references when using <i>forager</i>:
        <ol>
     <li>Kumar, A.A., Apsel, M., Zhang, L., Xing, N., Jones. M.N. (2023). forager: A Python package and web interface for modeling mental search</li>
     <li>Kumar, A.A., Lundin, N. B., Jones, M.N. (2022). Mouse-mole-vole: The inconspicuous benefits of phonology during retrieval from semantic memory. In <i>Proceedings of the 44th Annual Meeting of the Cognitive Science Society</i>.</li>
     <li>Hills, T. T., Jones, M. N., & Todd, P. M. (2012). Optimal foraging in semantic memory. <i>Psychological Review</i>, <i>119</i>(2), 431.</li>
    
        </ol>
       </p>
</div>


<% endblock %>